/* ---- Main Block ---- */
main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

main .content{
    width: 50%;
    padding: 100px 0;
    position: relative;
}

main img{
    width: 50%;
}

main .cms{
    padding-left: 90px;
}

main .content h3{
    margin-bottom: 110px;
}

main .content h3::after{
    content: "";
    display: block;
    background-color: #F0EBD8;
    width: 130px;
    height: 40px;
    position: absolute;
    z-index: -1;
}

.titlebc::after{
    top: 125px;
    left: -60px;
}

.titlecms::after{
    top: 90px;
    left: 420px;
}

.titlefd::after{
    top: 180px;
    left: 200px;
}

main .content p{
    width: 90%;
}

main img{
    margin-bottom: 90px;
}

footer{
    margin-top: 50px;
}