@import url("reset.css");

*{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    color: #26273B;
    font-family: 'David Libre', serif, '微軟正黑體';
    line-height: 1.6;
}

h2{
    font-size: 110px;
    font-weight: 700;
    letter-spacing: 2.75px;
    color: #C4A87E;
    text-shadow: 5px 5px #f2f2f2;
}

h3{
    font-size: 50px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 1.25px;
    color: #748cab;
}

h4{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #748cab;
}

h5{
    letter-spacing: 0.98px;
    color: #C4A87E;
}

p{
    font-family: 'Niramit', sans-serif;
    letter-spacing: 0.98px;
}

a{
    text-decoration: none;
    letter-spacing: 0.98px;
    color: #C4A87E;
}

.wrapper{
    width: 1104px;
    margin: 0 auto;
    /* border: 1px solid gray; */
}

.viewMore{
    width: 90px;
    text-align: center;
    border-bottom: 5px solid #C4A87E;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    transition: 0.5s;
}

.viewMore:hover{
    border-bottom: 5px solid #748CAB;
    color: #748CAB;
    cursor: pointer;
}

/* ------- Header ------- */
header{
    background-color: #26273B;
}

/* ------- Main-sel ------- */
.main-sel{
    display: flex;
    align-items: center;
}

.main-sel h1{
    flex-grow: 1;
}

.main-sel img{
    width: 80px;
}

.main-sel ul{
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.main-sel ul>li{
    flex-basis: 0;
    /* outline: 1px solid red; */
    position: relative;
    flex-grow: 1;
    line-height: 80px;
    display: flex;
}

.main-sel a{
    transition: 0.5s;
    font-weight: regular;
    letter-spacing: 0.98px;
    margin: 0 auto;
}

.main-sel li:hover a{
    color: #f2f2f2;
}

/* ------- Sub-sel ------- */
.main-sel ol{
    width: 134px;
    background-color: #fff;
    line-height: 4;
    text-align: center;
    background-color: #26273B;
    opacity: .8;
    border-radius: 0 0 5px 5px;

    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 10;
    display: none;
}

.main-sel ol>li{
    display: flex;
}

.main-sel ul>li:hover ol{
    display: block;
}

.main-sel ol>li:hover{
    background-color: #748CAB;
    opacity: 1;
}


/* ------- Footer ------- */
footer{
    background-color: #26273B;
    padding: 60px 0;
}

footer nav{
    display: flex; 
}

footer nav div{
    flex-grow: 1;
    flex-basis: 0;
}

footer .underline{
    display: block;
    width: 60px;
    height: 1px;
    background-color: #748cab;
    margin-top: 15px;
    margin-bottom: 45px;
}

footer li>a{
    display: inline-block;
    margin-bottom: 35px;
    transition: .3s;
}

footer li>a:hover{
    color: #f2f2f2;
}

footer .icon{
    margin-bottom: 40px;
}

footer .icon img{
    margin-right: 30px;
    width: 33px;
}

footer .newsletter input{
   display: block;
   margin-bottom: 25px;
}

footer .newsletter input.the_text:focus{
    border:3px solid #C4A87E;
    outline: none;
}

footer .newsletter input.the_btn{
    font-family: 'David Libre', serif;
    letter-spacing: 0.98px;
    color: #f2f2f2;
    background-color: #C4A87E;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

footer .newsletter h5{
    margin-bottom: 30px;
}

footer p{
    color: #748cab;
    font-size: 12px;
    letter-spacing: 1.25px;
    padding-top: 50px;
}


