@import url("reset.css");

*{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    color: #26273B;
    font-family: 'David Libre', serif, '微軟正黑體';
    line-height: 1.6;
}

h2{
    font-size: 110px;
    font-weight: 700;
    letter-spacing: 2.75px;
    color: #C4A87E;
    text-shadow: 5px 5px #f2f2f2;
}

h3{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.25px;
    color: #748cab;
}

h4{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #748cab;
}

h5{
    letter-spacing: 0.98px;
    color: #C4A87E;
}

p{
    font-family: 'Niramit', sans-serif;
    letter-spacing: 0.98px;
}

a{
    text-decoration: none;
    letter-spacing: 0.98px;
    color: #C4A87E;
}

.wrapper{
    width: 1104px;
    margin: 0 auto;
    padding: 0 15px;
    /* overflow: hidden; */
}

.viewMore{
    width: 90px;
    text-align: center;
    border-bottom: 5px solid #C4A87E;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    transition: 0.5s;
}

.viewMore:hover{
    border-bottom: 5px solid #748CAB;
    color: #748CAB;
    cursor: pointer;
    /* animation: underline 5s infinite; */
}

img{
    vertical-align: bottom;
}

.show{
    display: block;
}

.noshow{
    display: none;
}

@media (max-width: 767.98px){
    .wrapper{
        width: 100%;
        overflow: hidden;
    }
    .viewMore{
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .wrapper{
        width: 100%;
        overflow: hidden;
        /* border: 1px solid red; */
    }
}

/* ------- Header ------- */
header{
    background-color: #26273b;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 29;
}

.currentpage{
    color: #F0EBD8;
}

/* ------- Main-sel ------- */
.main-sel{
    display: flex;
    align-items: center;
}

.main-sel h1{
    flex-grow: 1;
}

.logo>img{
    width: 80px;
}

.main-sel ul{
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.main-sel ul>li{
    flex-basis: 0;
    /* outline: 1px solid red; */
    position: relative;
    flex-grow: 1;
    line-height: 65px;
    display: flex;
}

.main-sel a{
    transition: 0.5s;
    font-weight: regular;
    letter-spacing: 0.98px;
    margin: 0 auto;
}

.main-sel li:hover a{
    color: #f2f2f2;
}

/* ------- Sub-sel ------- */
.main-sel ol{
    width: 134px;
    background-color: #fff;
    line-height: 4;
    text-align: center;
    background-color: #26273B;
    opacity: .8;
    border-radius: 0 0 5px 5px;

    position: absolute;
    left: 0px;
    top: 65px;
    z-index: 30;
    display: none;
}

.main-sel ol>li{
    display: flex;
}

.main-sel ul>li:hover ol{
    display: block;
}

.main-sel ol>li:hover{
    background-color: #748CAB;
    opacity: 1;
}

/* ------- Hamburger ------- */
.ham_sel{
    position: relative;
}

div.ham-nav{
    display: none;
    height: 50px;
}

div.ham-nav>h1{
    width: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    line-height: 45px;
}

div.ham-nav .hamlogo img{ 
    width: 70px;
    padding: 3px;
}

.ham_b{
    float: right;
    cursor: pointer;
    padding: 9px 15px;
}

.ham_b .hb_1, .ham_b .hb_2, .ham_b .hb_3{
    content: "";
    background-color: #C4A87E;
    display: block;
    width: 30px;
    height: 1px;
    border-radius: 3px;
    margin: 7px 0;
    transition: .5s;
    /* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.ham_b .hb_1.active{
    transform: translateY(11px) rotate(135deg);
}

.ham_b .hb_2.active{
    transform: scale(0);
}

.ham_b .hb_3.active{
    transform: translateY(-5px) rotate(-135deg);
}

ul.ham-menu{
    width: 75%;
    height: 100vh;
    position: absolute;
    right: 0px;
    transform: translateX(-100%); 
    background-color: #26273bf3;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    transition: 1s;
    transform: translateX(120%);
    z-index: 500;
}

ul.ham-menu.active{
    opacity: 1;
    transform: translateX(0%); 
}

.ham-menu li{
    padding: 8px;
    margin-left: 10px;
}

.ham-menu ol>li{
    padding: 8px 10px;
}

.ham-menu a{
    font-size: 35px;
    transition: .5s;
    width: 100%;
    display: block;
}

.ham-menu a:hover{
    color: #F0EBD8;
}

.ham-menu li.pli:hover .horizontal, .ham-menu li.pli:hover .vertical{
    background-color: #F0EBD8;
}

.ham-menu li.pli{
    cursor: pointer;
}

.ham-menu .horizontal, .ham-menu .vertical{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #C4A87E;
    transition: .5s;
    cursor: pointer;
    float: right;
    transform: translate(-10px, -30px);
}

.ham-menu .vertical{
    transform: rotate(90deg) translate(-30px, -10px);
}

.ham-menu .vertical.active{
    transform: rotate(0deg) translate(-30px, -10px) scale(0);
}


ol.ham_subsel{
    animation: subsel .5s linear 1;
    display: none;
}


.ham_subsel li:first-child::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F0EBD8;
    margin-bottom: 20px;
}

.ham_subsel li:last-child::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F0EBD8;
    margin: 20px 0;
}

#ham_mask{
    position: fixed;
    top: 50px;
    left: 0;
    /* background: #26273b42; */
    z-index: 300;
    width: 100%;
    height: calc(100vh - 50px);
   opacity: 0;
}

/* --- Favorite List button --- */

.main-sel ul>li.fa{
    flex-grow: 0;
}

.ham-menu li.fa {
    padding: 0 0 0 8px;
    margin-left: 10px;
    position: relative;
}

.mheart{
    width: 21px;
    /* border: 1px solid blue; */
    vertical-align: middle;
    transition: .3s;
    opacity: .8;
}

.mheart:hover{
    opacity: .5;
}

.mheart_filled{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ham-menu li.fa .mheart_filled{
    top: calc(50% + 2px);
    left: 8px;
}

.mheart_filled.-on{
    opacity: 1;
}

.mheart_filled:hover{
    opacity: .5;
}

.mheart_empty.-off{
    opacity: 0;
}


/* --------- Header Mediaquery----------- */

@media (max-width: 767.98px){
    .main-sel{
        display: none;
    }

    div.ham-nav{
        display: block;
    }
}

/* ------- Top Block -------*/
.top{
    margin: 65px auto 100px;
    position: relative;
    width: 1104px;
}

.topspace{
    height: 120px;
    position: relative;
}

.top h2{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 5;
    animation: toph2 1.5s ease;
}

@keyframes toph2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.top .view{
    position: relative;
    height: 330px;
}

.viewmask{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b1c2b;
    animation: opening 1.5s ease;
    z-index: 3;
}

.viewmask2{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F0EBD8;
    animation: opening2 1.5s ease .3s;
    z-index: 2;
}

@keyframes opening {
    0%{
        /* background-color: #1b1c2b; */
        width: 100%;
    }
    100%{
        /* background-color: #F0EBD8; */
        width: 0%;
    }
}

@keyframes opening2 {
    0%{
        opacity: 0;
        width: 100%;
    }
    100%{
        opacity: 1;
        width: 0%;
    }
}

.top img{
    margin-top: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 1104px;
}

@media (max-width: 767.98px){
    .top{
        width: 100%;
        overflow: hidden;
        position: relative;
        /* border: 1px solid red; */
    }

    .topspace{
        height: 80px;
    }

    .top h2{
        font-size: 90px;
        position: absolute;
        top: 10px;
    }

    .top .view{
        width: 100%;
        height: auto;
        padding-top: 45%;
        overflow: hidden;
        position: relative;
    }

    .top img{
        width: auto;
        min-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }
}

@media (max-width: 575.98px){
    .top{
        margin: 65px auto 40px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .topspace{
        height: 60px;
    }

    .top h2{
        font-size: 52px;
        position: absolute;
        top: 10px;
        font-weight: 700;
        letter-spacing: 2.5px;
        text-shadow: 3px 3px #f2f2f2;
    }

    .top .view{
        width: 100%;
        height: auto;
        padding-top: 45%;
        overflow: hidden;
    }

    .top img{
        width: auto;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .top{
        width: 100%;
        overflow: hidden;
    }
}

/* ------- Footer ------- */
footer{
    background-color: #26273B;
    padding: 60px 0;
    width: 100%;
}

footer nav{
    display: flex; 
}

footer nav div{
    flex-grow: 1;
    flex-basis: 0;
}

footer .underline{
    display: block;
    width: 60px;
    height: 1px;
    background-color: #748cab;
    margin-top: 15px;
    margin-bottom: 45px;
}

footer li>a{
    display: inline-block;
    margin-bottom: 35px;
    transition: .3s;
}

footer li>a:hover{
    color: #f2f2f2;
}

footer .icon{
    margin-bottom: 40px;
}

footer .icon img{
    max-width: 33px;
    margin: 0 10px;
    transition: .3s;
}

footer .icon img:hover{
    opacity: .6;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

footer .newsletter input{
   display: block;
   margin-bottom: 25px;
   border: none;
}

footer .newsletter input.the_text:focus{
    border: 2px solid #C4A87E;
    outline: none;
}

footer .newsletter input.the_btn{
    font-family: 'David Libre', serif;
    letter-spacing: 0.98px;
    color: #f2f2f2;
    background-color: #C4A87E;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
    transition: .3s;
}

footer .newsletter input.the_btn:hover{
    background-color: #748cab;
    cursor: pointer;
}

footer .newsletter h5{
    margin-bottom: 30px;
}

footer p{
    color: #748cab;
    font-size: 12px;
    letter-spacing: 1.25px;
    padding-top: 50px;
}

footer .ftitle>h5{
    display: inline-block;
}

footer .arrow{
    display: none;
    width: 20px;
    vertical-align: middle;
    margin-left: 20px;
    transition: .3s;
}


@media (max-width: 767.98px){
    footer{
        padding: 30px 50px;
    }
    
    footer nav{
        flex-direction: column;
    }

    footer .ftitle{
        padding-bottom: 15px;
        cursor: pointer;
    }

    footer .ftitle>h5{
        margin-top: 20px;
        transition: .3s;
    }

    footer .arrow{
        display: inline-block;
    }

    footer .underline{
        width: 100%;
        margin-top: 0;
    }

    footer ul.fsub{
        /* display: none; */
        max-height: 0px;  
        overflow: hidden;
        transition: .5s;
    }

    footer .icon{
        display: flex;
        justify-content: space-around;
        margin: 30px 0 60px;
    }
    
    footer .icon img{
        margin-right: 0;
    }

    footer .newsletter h5{
        margin-bottom: 10px;
    }

    footer .newsletter input{
        display: inline;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    footer .newsletter input.the_text{
        margin-bottom: 20px;
        min-width: 70%;
    }
}

/* ------Back to top-------- */
div.backtop{
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

div.backtop:hover{
    animation: popping 2s ease infinite;
}

@keyframes popping {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


.backtop img{
    width: 40px;
}   

@media (max-width: 575.98px){
    div.backtop{
        right: 20px;
        bottom: 20px;
    }

    .backtop img{
        width: 30px;
    }  
}

/* ------滑入動畫------ */
.slidein{
    opacity: 0;
    transition: 2.5s;
}

.ltr{
    transform: translateX(-30%) scale(0.8);
}

.rtl{
    transform: translateX(30%) scale(0.8);
}

.slidein.active{
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.fadein{
    opacity: 0;
    transform: scale(0.8);
    transition: 2.5s;
}

.fadein.active{
    opacity: 1;
    transform: scale(1);
}

.shrink{
    opacity: 0;
    transform: scale(1.3);
    transition: 2.5s;
}

.shrink.active{
    opacity: 1;
    transform: scale(1);
}

.upwards{
    opacity: 0;
    transform: translateY(30%);
}

.upwards.active{
    opacity: 1;
    transform: translateY(0%);
}

@keyframes fadein {
    0%{
        opacity: 0;
    }   
    100%{
        opacity: 1;
    } 
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}