/* ---- Main Block ---- */
main{
    padding-top: 50px;
}

main>section{
    display: flex;
    padding: 0 80px 140px;
}

div.ec-pic{
    width: 50%;
    position: relative;
    font-size: 0;
}

div.ec-content{
    width: 50%;
}

div.ec-content h3{
    padding: 20px 0;
}

div.ec-content p{
    padding: 30px 0 50px 0;
}

.frame{
    position: absolute;
}

.fr1{
    top: 330px;
    left: 200px;
}

.fr2{
    top: 303px;
    left: -20px;
}

.fr3{
    top: 320px;
    left: 190px;
}

.decblock{
    display: block;
    background-color: #F0EBD8;
    width: 160px;
    height: 100px;
    position: absolute;
}

.fdec1, .fdec3{
    top: 325px;
    left: 190px;
}

.fdec2{
    top: 310px;
    left: 30px;
    background-color: #26273B;
}

.varight{
    float: right;
}

.valeft{
    float: left;
}

main>a{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    width: 200px;
    text-align: center;
    border-bottom: 5px solid #C4A87E;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    transition: 0.5s;
    margin-bottom: 120px;
}

main a:hover{
    border-bottom: 5px solid #748CAB;
    color: #748CAB;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767.98px){
    main>section{
        flex-direction: column;
        /* align-items: center; */
        padding: 0 40px 140px;
    }
    
    .fr2{
        top: 320px;
        left: -45px;
    }
    
    .fdec2{
        top: 325px;
        left: 0px;
        background-color: #26273B;
    }

    div.ec-pic{
        width: 350px;
        align-self: center;
    }

    div.ec-pic .emodel2{
        margin-left: 45px;
    }

    div.ec-content{
        width: 90%;
        align-self: center;
        margin-top: 50px;
    }

    div.ec-content h3{
        text-align: center;
    }

    div.ec-content p{
        padding: 30px 0 20px 0;
    }

    .varight, .valeft{
        float: none;

    }

    div.ecc2{
        order: 4;
    }

    div.ecp2{
        order: 3;
    }

}