/* ---- Main Block ---- */
main{
    padding-top: 50px;
}

main>section{
    display: flex;
    padding: 0 80px 140px;
}

div.ec-pic{
    width: 50%;
    position: relative;
    font-size: 0;
}

div.ec-content{
    width: 50%;
}

div.ec-content h3{
    padding: 20px 0;
}

div.ec-content p{
    padding: 30px 0 50px 0;
}

.frame{
    position: absolute;
}

.fr1{
    top: 330px;
    left: 200px;
}

.fr2{
    top: 303px;
    left: -20px;
}

.fr3{
    top: 320px;
    left: 190px;
}

.decblock{
    display: block;
    background-color: #F0EBD8;
    width: 160px;
    height: 100px;
    position: absolute;
}

.fdec1, .fdec3{
    top: 325px;
    left: 190px;
}

.fdec2{
    top: 310px;
    left: 30px;
    background-color: #26273B;
}

.varight{
    float: right;
}

.valeft{
    float: left;
}

main>a{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    width: 200px;
    text-align: center;
    border-bottom: 5px solid #C4A87E;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    transition: 0.5s;
    margin-bottom: 120px;
}

main a:hover{
    border-bottom: 5px solid #748CAB;
    color: #748CAB;
    cursor: pointer;
}

@media (max-width: 767.98px){
    main>section{
        flex-direction: column;
        /* align-items: center; */
        padding: 0 40px 140px;
    }
    
    .fr2{
        top: 320px;
        left: -45px;
    }
    
    .fdec2{
        top: 325px;
        left: 0px;
        background-color: #26273B;
    }

    div.ec-pic{
        width: 350px;
        align-self: center;
    }

    div.ec-pic .emodel2{
        margin-left: 45px;
    }

    div.ec-content{
        width: 90%;
        align-self: center;
        margin-top: 50px;
    }

    div.ec-content h3{
        text-align: center;
    }

    div.ec-content p{
        padding: 30px 0 20px 0;
    }

    .varight, .valeft{
        float: none;

    }

    div.ecc2{
        order: 4;
    }

    div.ecp2{
        order: 3;
    }

}

@media (max-width: 575.98px){
    main>section{
        flex-direction: column;
        padding: 50px 0;
        /* border: 1px solid black; */
    }

    div.ec-pic{
        align-self: center;
        /* border: 1px solid red; */
    }

    div.ec-pic .emodel{
        width: 80%;
        display: block;
        max-width: 305px;
        margin: 0 auto;
    }

    div.ec-content{
        width: 100%;
        align-self: center;
        margin-top: 50px;
        /* border: 1px solid blue; */
    }

    div.ec-content h3{
        text-align: center;
        padding: 0;
    }

    div.ec-content p{
        padding: 30px 5% 10px;
    }

    main>a{
        margin-top: 50px;
    }

    .frame{
        /* position: static; */
        /* display: block; */
        display: none;
        /* margin: 10px auto 0; */
        /* width: 150px; */
    }

    .decblock{
        /* width: 500px;
        height: 30px; */
        width: 200px;
        height: 150px;
        z-index: -1;
    }

    .fdec2{
        top: 70%;
        left: -20%;
        background-color: #F0EBD8;
    }

    .fdec1, .fdec3{
        top: 80%;
        left: 60%;
    }

}

@media (min-width: 768px) and (max-width: 980px){
    main>section{
        padding: 0 0 140px;
        width: 90%;
        margin: 0 auto;
    }

    div.ec-content{
        padding: 10px;
    }

    div.ec-pic{
        padding: 10px;
    }

    div.ec-pic .emodel{
        width: 290px;
    }

    .frame{
        width: 200px;
    }
    
    .fr1{
        top: 350px;
        left: 200px;
    }

    .fr2{
        top: 323px;
        left: -20px;
    }

    .fr3{
        top: 340px;
        left: 190px;
    }

    .fdec1, .fdec3{
        top: 345px;
        left: 190px;
    }

    .fdec2{
        top: 330px;
        left: 30px;
        background-color: #26273B;
    }

}