/* ----- Top Block ----- */
.indextop{
    margin: 0 auto;
}

.indextop img{
    width: 100%;
    /* max-width: 100%; */
    margin: 0 auto;
}

@media screen and (max-width: 575.98px){
    .wrapper{
        overflow: hidden;
    }

    .indextop{
        width: 100%;
        height: 400px;
        overflow: hidden;
        /* border: 1px solid red; */
        position: relative;
    }

    .indextop img{
        /* width: 1000px; */
        width: auto;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3{
        font-size: 38px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .indextop{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .indextop img{
        /* width: 1000px; */
        width: auto;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ----- Section 1: Brand Concept ----- */
.bc{
    display: flex;
    margin-top: 120px;
    margin-bottom: 150px;
}

.bc-img{
    width: 50%;
    position: relative;
}

.bc-img .bc1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: .9s;
}

.bc-img .bc1:hover{
    transform: scale(1.1) translateX(-30px) translateY(10px);
    /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3); */
}

.bc-img .bc1:hover + .bc2{
    transform: scale(0.9) translateX(17px);
}

.bc-img .bc2{
    position: absolute;
    top: 80px;
    left: 151px;
    z-index: 3;
    transition: .9s;
}

.bc-img .bc2:hover{
    transform: scale(1.05);
}

.bc-img .bc3{
    position: absolute;
    top: 45px;
    left: 375px;
    z-index: 1;
    transition: .9s;
}

.bc-img .bc3:hover{
    transform: scale(1.1) translateY(-25px) translateX(20px);
}

.bc-img .bc3:hover + .bc2{
    transform: scale(0.9) translateY(25px) translateX(-20px);
}

.bc-text{
    width: 50%;
}

.bc-text h3{
    padding: 110px 0 130px 80px;
}

@media screen and (max-width: 575.98px){
    .bc{
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .bc-img{
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        order: 2;
        padding: 0 10px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    
   .bc-img .bc1:hover{
        transform: scale(1.1) translateX(0) translateY(0);
    }
    
    .bc-img .bc1:hover + .bc2{
        transform: none;
    }

    .bc-img .bc1, .bc-img .bc2, .bc-img .bc3{
        position: static;
        top: 0;
        left: 0;
        margin: 5px;
        width: calc((100% - 20px) / 3);
    }
    
    .bc-img .bc2:hover{
        transform: scale(1.1);
    }

    .bc-img .bc3:hover{
        transform: scale(1.1);
    }
    
    .bc-text{
        order: 1;
        width: 100%;
        text-align: center;
    }

    .bc-text h3{
        padding: 0;
        font-size: 30px;
        line-height: 37.5px;
        display: inline-block;
        text-align: start;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .bc{
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .bc-img{
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        order: 2;
        padding: 0 10px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
   .bc-img .bc1:hover{
        transform: scale(1.1) translateX(0) translateY(0);
    }
    
    .bc-img .bc1:hover + .bc2{
        transform: none;
    }

    .bc-img .bc1, .bc-img .bc2, .bc-img .bc3{
        position: static;
        top: 0;
        left: 0;
        margin: 5px;
        width: calc((100% - 20px) / 3);
    }
    
    .bc-img .bc2:hover{
        transform: scale(1.1);
    }

    .bc-img .bc3:hover{
        transform: scale(1.1);
    }
    
    .bc-text{
        order: 1;
        width: 100%;
        /* border: 1px solid lightblue; */
    }

    .bc-text h3{
        padding: 0;
        transform: scale(0.8);
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .bc{
        justify-content: space-between;
    }

    .bc.wrapper{
        padding: 0;
    }

    .bc-img{
        transform: scale(0.8);
        /* align-self: flex-start; */
    }
}

/* ----- Section 2: New Arrival ----- */
.narrvl{
    margin-bottom: 150px;
    position: relative;
}

.narrvl h3{
    text-align: center;
    margin-bottom: 50px;
}

.items{
    display: flex;
    justify-content: space-around;
}


.narrvl .i-card{
    margin-bottom: 80px;
    width: 300px;
    transition: .3s;
}

.narrvl .i-card:hover{
    transform: rotate(3deg);
    opacity: .8;
}

.narrvl .i-card img{
    width: 100%;
}

.narrvl .i-card h5{
    text-align: center;
    color: #748cab;
    font-weight: 500;
}

.decitems{
    display: block;
    background-color: #F0EBD8;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}

@media (max-width: 575.98px){
    .narrvl{
        margin-bottom: 80px;
    }
    
    .narrvl h3{
        margin-bottom: 0px;
    }

    .items{
        flex-direction: column;
        align-items: center;
    }

    .narrvl .i-card{
        margin-bottom: 10px;
        width: 85%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .narrvl h3{
        margin-bottom: 30px;
    }

    .items{
        flex-direction: column;
        align-items: center;
    }

    .narrvl .i-card{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .narrvl h3{
        margin-bottom: 30px;
    }

    .items{
        margin-bottom: 50px;
    }

    .narrvl .i-card{
        margin-bottom: 30px;
        max-width: calc((100% - 40px) / 3);
    }
}

/* ----- Section 3: Video ----- */
.vcontainer{
    width: 1104px;
    margin: 0 auto;
    height: 350px;
    overflow: hidden;
    margin-bottom: 150px;
    position: relative;
}

.vcontainer .logomark{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vcontainer .logomark>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 200px;
}

@media (max-width: 575.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 50px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 80px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 80px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ----- Section 4: What's New ----- */
.whatsnew{
    margin: 0 auto;
    margin-bottom: 150px;
    width: 974px;
    position: relative;
}

.whatsnew>h3::after{
    content:"";
    display: block;
    background-color: #F0EBD8;
    width: 150px;
    height: 50px;
    position: absolute;
    z-index: -1;
    top: 22px;
    left: 185px;
}

.news{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.n-card{
    width: 405px;
    transition: .3s;
}

.n-card img{
    width: 100%;
    margin: 10px 0;
}

.n-card p{
    padding: 10px 0;
    color: #26273B;
}

.n-card:hover{
    opacity: .8;
}

@media (max-width: 575.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
        margin-bottom: 80px;
    }

    .whatsnew h3{
        font-size: 38px;
    }
    
    .whatsnew>h3::after{
        content:"";
        display: block;
        background-color: #F0EBD8;
        width: 100px;
        height: 35px;
        position: absolute;
        z-index: -1;
        top: 35px;
        left: 165px;
    }

    .news{
        flex-direction: column;
        align-items: center;
        margin: 50px 5px 0 5px;
    }
    
    .n-card{
        max-width: 100%;
        margin-bottom: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
    }
    
    .whatsnew>h3::after{
        transform: translate(10px, 5px);
    }

    .news{
        flex-direction: column;
        align-items: center;
    }
    
    .n-card{
        max-width: 100%;
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
    }
    
    .whatsnew>h3::after{
        transform: translate(10px, 5px);
    }

    .news{
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-around;
    }
    
    .n-card{
        max-width: calc((100% - 60px) / 2);
        margin-bottom: 60px;
    }

    .wrapper{
        overflow: hidden;
    }
}