/* ----- Top Block ----- */
.indextop{
    margin: 0 auto;
    position: relative;
}

.indextop img{
    width: 100%;
    /* max-width: 100%; */
    margin: 0 auto;
}

@media screen and (max-width: 575.98px){
    .wrapper{
        overflow: hidden;
    }

    .indextop{
        width: 100%;
        height: 400px;
        overflow: hidden;
        /* border: 1px solid red; */
        position: relative;
    }

    .indextop img{
        /* width: 1000px; */
        width: auto;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3{
        font-size: 38px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .indextop{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .indextop img{
        /* width: 1000px; */
        width: auto;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ----- Section 1: Brand Concept ----- */
.bc{
    display: flex;
    margin-top: 120px;
    margin-bottom: 150px;
}

/* ------- Carousel-------- */
.bccarousel{
    width: 50%;
    padding-top: 79px;
    padding-left: 22px;
}

input.bcslider{
    display: none;
}

div.bccards {
    position: relative;
    width: 100%;
    height: 100%;
}

label.bccard {
    position: absolute;
    width: 256px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.bccard img {
    width: 100%;
    height: 100%;
}

#bcitem-1:checked ~ .bccards .bci3, #bcitem-2:checked ~ .bccards .bci1, #bcitem-3:checked ~ .bccards .bci2 {
    transform: translatex(-70%) translateY(-32%) scale(.8);
    z-index: 0;
    transition: .8s;
}

#bcitem-1:checked ~ .bccards .bci3:hover, #bcitem-2:checked ~ .bccards .bci1:hover, #bcitem-3:checked ~ .bccards .bci2:hover {
    transform: translatex(-70%) translateY(-32%) scale(.9);
}

#bcitem-1:checked ~ .bccards .bci2, #bcitem-2:checked ~ .bccards .bci3, #bcitem-3:checked ~ .bccards .bci1 {
    transform: translatex(77%) translateY(-20%) scale(.8);
    z-index: 0;
    transition: .8s;
}

#bcitem-1:checked ~ .bccards .bci2:hover, #bcitem-2:checked ~ .bccards .bci3:hover, #bcitem-3:checked ~ .bccards .bci1:hover {
    transform: translatex(77%) translateY(-20%) scale(.9);
}

#bcitem-1:checked ~ .bccards .bci1, #bcitem-2:checked ~ .bccards .bci2, #bcitem-3:checked ~ .bccards .bci3 {
    transform: translatex(0) scale(1);
    z-index: 1;
    transition: .8s;
}

#bcitem-1:checked ~ .bccards .bci1:hover, #bcitem-2:checked ~ .bccards .bci2:hover, #bcitem-3:checked ~ .bccards .bci3:hover {
    transform: translatex(0) scale(1.1);
    z-index: 1;
    transition: .8s;
}

.bc-text{
    width: 50%;
}

.bc-text h3{
    padding: 110px 0 130px 80px;
}

@media screen and (max-width: 575.98px){
    .bc{
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    .bccarousel{
        display: block;
        width: 100%;
        height: 300px;
        order: 2;
        padding: 0 10px;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    label.bccard {
        width: 201px;
    }
    
    .bc-text{
        order: 1;
        width: 100%;
        text-align: center;
    }

    .bc-text h3{
        padding: 0;
        font-size: 30px;
        line-height: 37.5px;
        display: inline-block;
        text-align: start;
    }

    #bcitem-1:checked ~ .bccards .bci3, #bcitem-2:checked ~ .bccards .bci1, #bcitem-3:checked ~ .bccards .bci2 {
        transform: translatex(-45%) scale(.8);
        opacity: .8;
    }
    
    #bcitem-1:checked ~ .bccards .bci2, #bcitem-2:checked ~ .bccards .bci3, #bcitem-3:checked ~ .bccards .bci1 {
        transform: translatex(45%) scale(.8);
        opacity: .8;
    }
    
    #bcitem-1:checked ~ .bccards .bci1, #bcitem-2:checked ~ .bccards .bci2, #bcitem-3:checked ~ .bccards .bci3 {
        transform: translatex(0) scale(1);
        opacity: 1;
    }

    .bc-text.fadein{
        opacity: 1;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .bc{
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }

    label.bccard {
        width: 201px;
    }

    .bccarousel{
        display: block;
        width: 100%;
        height: 300px;
        order: 2;
        padding: 0 10px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #bcitem-1:checked ~ .bccards .bci3, #bcitem-2:checked ~ .bccards .bci1, #bcitem-3:checked ~ .bccards .bci2 {
        transform: translatex(-80%) scale(.8);
        opacity: .8;
    }
      
    #bcitem-1:checked ~ .bccards .bci2, #bcitem-2:checked ~ .bccards .bci3, #bcitem-3:checked ~ .bccards .bci1 {
        transform: translatex(80%) scale(.8);
        opacity: .8;
    }

    #bcitem-1:checked ~ .bccards .bci3:hover, #bcitem-2:checked ~ .bccards .bci1:hover, #bcitem-3:checked ~ .bccards .bci2:hover {
        transform: translatex(-80%) scale(.9);
    }

    #bcitem-1:checked ~ .bccards .bci2:hover, #bcitem-2:checked ~ .bccards .bci3:hover, #bcitem-3:checked ~ .bccards .bci1:hover{
        transform: translatex(80%) scale(.9);
    }
    
    .bc-text{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bc-text h3{
        padding: 0;
        transform: scale(0.8);
    }

}

@media (min-width: 768px) and (max-width: 979.98px){
    .bc-img{
        display: none;
    }

    .bccarousel{
        display: block;
        width: 50%;
        padding-top: 0;
        padding-left: 0;
    }

    div.bccards {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    label.bccard {
        width: 201px;
    }

    #bcitem-1:checked ~ .bccards .bci3, #bcitem-2:checked ~ .bccards .bci1, #bcitem-3:checked ~ .bccards .bci2 {
        transform: translatex(-45%) scale(.8);
        opacity: .8;
    }
      
    #bcitem-1:checked ~ .bccards .bci2, #bcitem-2:checked ~ .bccards .bci3, #bcitem-3:checked ~ .bccards .bci1 {
        transform: translatex(45%) scale(.8);
        opacity: .8;
    }

    #bcitem-1:checked ~ .bccards .bci3:hover, #bcitem-2:checked ~ .bccards .bci1:hover, #bcitem-3:checked ~ .bccards .bci2:hover {
        transform: translatex(-45%) scale(.9);
    }

    #bcitem-1:checked ~ .bccards .bci2:hover, #bcitem-2:checked ~ .bccards .bci3:hover, #bcitem-3:checked ~ .bccards .bci1:hover{
        transform: translatex(45%) scale(.9);
    }

    .bc-text{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    
    .bc-text h3{
        font-size: 40px;
        line-height: 52px;
        padding: 30px 0px;
    }
}

@media (min-width: 980px) and (max-width: 1199.98px){
    .bc{
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .bc.wrapper{
        padding: 0 10px;
    }

    .bccarousel{
        width: 53%;
        padding-top: 87px;
        padding-left: 0;
    }

    label.bccard {
        width: 41%;
    }

    #bcitem-1:checked ~ .bccards .bci3, #bcitem-2:checked ~ .bccards .bci1, #bcitem-3:checked ~ .bccards .bci2 {
        transform: translatex(-70%) translateY(-35%) scale(.8);
    }
    
    #bcitem-1:checked ~ .bccards .bci3:hover, #bcitem-2:checked ~ .bccards .bci1:hover, #bcitem-3:checked ~ .bccards .bci2:hover {
        transform: translatex(-70%) translateY(-35%) scale(.9);
    }

    #bcitem-1:checked ~ .bccards .bci2, #bcitem-2:checked ~ .bccards .bci3, #bcitem-3:checked ~ .bccards .bci1 {
        transform: translatex(70%) translateY(-20%) scale(.8);
    }
    
    #bcitem-1:checked ~ .bccards .bci2:hover, #bcitem-2:checked ~ .bccards .bci3:hover, #bcitem-3:checked ~ .bccards .bci1:hover {
        transform: translatex(70%) translateY(-20%) scale(.9);
    }

    .bc-text h3{
        padding: 80px 0 130px 0;
    }
}

/* ----- Section 2: New Arrival ----- */
.narrvl{
    margin-bottom: 150px;
    position: relative;
}

.narrvl h3{
    text-align: center;
    margin-bottom: 50px;
}

.items{
    display: flex;
    justify-content: space-around;
}


.narrvl .i-card{
    margin-bottom: 80px;
    width: 300px;
    transition: .3s;
}

.narrvl .i-card:hover{
    transform: rotate(3deg);
    opacity: .8;
}

.narrvl .i-card img{
    width: 100%;
}

.narrvl .i-card h5{
    text-align: center;
    color: #748cab;
    font-weight: 500;
}

.decitems{
    display: block;
    background-color: #F0EBD8;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}

@media (max-width: 575.98px){
    .narrvl{
        margin-bottom: 80px;
    }
    
    .narrvl h3{
        margin-bottom: 0px;
    }

    .items{
        flex-direction: column;
        align-items: center;
    }

    .narrvl .i-card{
        margin-bottom: 10px;
        width: 85%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .narrvl h3{
        margin-bottom: 30px;
    }

    .items{
        flex-direction: column;
        align-items: center;
    }

    .narrvl .i-card{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .narrvl h3{
        margin-bottom: 30px;
    }

    .items{
        margin-bottom: 50px;
    }

    .narrvl .i-card{
        margin-bottom: 30px;
        max-width: calc((100% - 40px) / 3);
    }
}

/* ----- Section 3: Video ----- */
.vcontainer{
    width: 1104px;
    margin: 0 auto;
    height: 350px;
    overflow: hidden;
    margin-bottom: 150px;
    position: relative;
}

.vcontainer .logomark{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vcontainer .logomark>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 200px;
}

@media (max-width: 575.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 50px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .vcontainer .logomark{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 80px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .vcontainer{
        width: 100%;
        margin-bottom: 80px;
    }

    video{
        width: auto;
        max-height: 100%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ----- Section 4: What's New ----- */
.whatsnew{
    margin: 0 auto;
    margin-bottom: 150px;
    width: 974px;
    position: relative;
}

.whatsnew>h3::after{
    content:"";
    display: block;
    background-color: #F0EBD8;
    width: 150px;
    height: 50px;
    position: absolute;
    z-index: -1;
    top: 22px;
    left: 185px;
}

.news{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.n-card{
    width: 405px;
    transition: .3s;
}

.n-card img{
    width: 100%;
    margin: 10px 0;
}

.n-card p{
    padding: 10px 0;
    color: #26273B;
}

.n-card:hover{
    opacity: .8;
}

@media (max-width: 575.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
        margin-bottom: 80px;
    }

    .whatsnew h3{
        font-size: 38px;
    }
    
    .whatsnew>h3::after{
        content:"";
        display: block;
        background-color: #F0EBD8;
        width: 100px;
        height: 35px;
        position: absolute;
        z-index: -1;
        top: 35px;
        left: 165px;
    }

    .news{
        flex-direction: column;
        align-items: center;
        margin: 50px 5px 0 5px;
    }
    
    .n-card{
        max-width: 100%;
        margin-bottom: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
        padding-left: 50px;
    }
    
    .whatsnew>h3::after{
        transform: translate(10px, 5px);
    }

    .news{
        flex-direction: column;
        align-items: center;
    }
    
    .n-card{
        max-width: 100%;
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .whatsnew{
        width: 100%;
        padding: 10px;
    }
    
    .whatsnew>h3::after{
        transform: translate(10px, 5px);
    }

    .news{
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-around;
    }
    
    .n-card{
        max-width: calc((100% - 60px) / 2);
        margin-bottom: 60px;
    }

    .wrapper{
        overflow: hidden;
    }
}

/* ----- Loading page ---- */
.loadingpage{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100vh;  
    z-index: 100;
}

.bar{
    background-color: #1b1c2b;
    width: 100%;
    height: calc(100vh / 3);
}

.bar2{
    position: relative;
}

@keyframes bar{
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: .5;
    }
}

.loadcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.loadlogo{
    width: 100px;
    animation: loading 10s ease infinite;
    margin-right: 20px;
}

.typing{
    overflow: hidden;
    white-space: nowrap;
    animation: type 10s steps(80) infinite;
    color: #C4A87E;
}

@keyframes loading {
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(270deg);    
    }
    75%{
        opacity: 1;
        transform: rotate(360deg) ;
    }    
    100%{
        opacity: 0;
        transform: rotate(0deg);
    }
}

@keyframes type {
    0% {
        opacity: 0;
        width: 0%;
    }
    50%{
        opacity: 1;
    }
    75% {
        width: 100%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 576px){
    .loadcontent{
        flex-direction: column;
        justify-content: center;
    }
    .loadlogo{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .loadcontent h4{
        font-size: 18px;
    }
}