/* ---- Top Block Mask---- */
.topmask{
    position: absolute;
    top: 0;
    /* top: 0; */
    left: 0;
    background-color: rgba(51, 51, 51, 0.596);
    width: 100%;
    height: 100%;
    /* padding-top: 90px; */
    /* display: flex; */
    /* justify-content: center; */
    
}

.topmask h3{
    line-height: 330px;
    position: absolute;
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* text-align: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .topmask{
        /* top: 90px; */
        min-height: 100%;
    }

    .topmask h3{
        text-align: center;
        color: #f2f2f2;
    }
}


/* ---- Main Block ---- */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.item{
    display: block;
    margin-bottom: 60px;
    transition: .3s;
}

.item:hover{
    transform: rotate(3deg);
    cursor: pointer;
}

.item h4{
    text-align: center;
}

.item>.info{
    display: none;
}

@media (min-width: 576px) and (max-width: 767.98px){

}

/* ---- Overlay ---- */
.overlay{
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;
    background-color: #f2f2f2;
    border: 1px solid #C4A87E;
    width: 700px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
}

.overlay>button{
    float: right;
    padding-right: 5px;
    font-family: Arial;
    font-size: 25px;
    color: #C4A87E;
    border: none;
    cursor: pointer;
}


.ocontent{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.otext{
    margin-left: 50px;
    width: 40%;
}

.otext h4{
    margin-bottom: 20px;
}

.otext h5{
    margin: 10px 0;
}

.otext p{
    padding-bottom: 10px;
}

#mask{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 90;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .overlay{
        width: 90%;
    }

    .otext{
        margin-left: 5%;
    }

    .opic{
        width: 60%;
        margin-left: 2%;
        /* border: 1px solid red; */
    }

    .opic img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
