/* ---- Main Block ---- */
main{
    display: flex;
    justify-content: space-between;
    position: relative;
}

main>section{
    width: 50%;
    margin-bottom: 140px;
}

.look-pic{
    vertical-align: bottom;
}

.right .t1{
    margin: 40px 0 5px 0;
}

.right .t2{
    color: #C4A87E;
    margin-bottom: 100px;
}

.right{
    padding-left: 35px;
}

.decblock{
    display: block;
    background-color: #F0EBD8;
    width: 850px;
    height: 220px;
    position: absolute;
    top: 550px;
    left: -220px;
    z-index: -1;
}

@media (max-width: 767.98px){
    .look-pic{
        width: 100%;
    }

    section.right h3{
        font-size: 40px;
    }

    .right .t1{
        margin: 30px 0 3px 0;
    }
    
    .right .t2{
        margin-bottom: 60px;
    }

    .decblock{
        width: 100%;
        height: 180px;
        top: 420px;
        left: 0;
    }
}

@media (max-width: 575.98px){
    main{
        flex-direction: column;
        align-items: center;
    }
    
    main>section{
        width: 80%;
        margin-bottom: 20px;
    }

    .left{
        margin-top: 50px;
    }

    .look-pic{
        width: 100%;
    }

    .right{
        padding-left: 0;
        margin-bottom: 80px;
    }

    section.right h3{
        width: 100%;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 1px;
    }

    .right .t1{
        margin-top: 20px;
    }
    
    .right .t2{
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    .look-pic{
        width: 100%;
        max-width: 496px;
    }
}

/* ---- 跑馬燈---- */
.lbcontainer{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid red; */
}

.pics{
    /* height: 300px; */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;
}

.marqueepics-box{
    position: relative;
    height: 100%;
    display: inline-block;
}

.marqueepics{
    display: flex;
    position: relative;
    /* transform: translateX(0); */
    
    animation: marquee 50s linear infinite;
}
.marqueepics.-fake{
    left: -100%;
    position: absolute;
    top: 0;
}

li.mpic{
    margin: 0 2px;
}

@keyframes marquee{
    0% {
        transform: translateX(100%);
    }
   
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){
    li.mpic img{
        width: 150px;
    }

    .pics{
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    
}

/* ---- Instagram ---- */
.ig{
    margin-bottom: 150px;
}

.ig h4{
    text-align: center;
    margin-bottom: 80px;
}

.ig ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ig li{
    display: block;
    width: 300px;
    height: 300px;
    margin: 15px;
}

.ig li img{
    position: relative;
    width: 100%;
}

.ig a.igaccount{
    width: 100%;
    text-align: center;
    line-height: 300px;
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.596);
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
}

.ig li:hover a.igaccount{
    opacity: 1;
}

@media (max-width: 767.98px){
    .ig ul{
        justify-content: space-evenly;
    }

    .ig li{
        margin: 10px;
        width: 250px;
        height: 250px;
    }

    .ig a.igaccount{
        line-height: 250px;
    }
}

@media (max-width: 575.98px){
    .ig{
        margin-bottom: 100px;
    }

    .ig h4{
        margin-bottom: 50px;
    }

    .ig h4::after{
        content: "@glassic_eyewear";
        display: block;
        font-size: 15px;
        color: #C4A87E;
        margin-top: 10px;
    }

    .ig li{
        margin: 5px;
        width: 80%;
        max-width: 200px;
    }

    .ig a.igaccount{
        line-height: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px){
    
}
