/* ---- Main Block ---- */

main{
    padding-top: 30px;
    padding-bottom: 150px;
}

.tabsname{
    display: flex;
    justify-content: space-around;
}

.tabsname>h4{
    transition: .5s;
}

.tabsname>h4:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.currenttab{
    color: #C4A87E;
    border-bottom: 3px solid #C4A87E;
}

.storename{
    color: #26273B;
    text-align: center;
    margin: 80px 0;
}

.tab>ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.map{
    display: flex;
    margin-bottom: 80px;
}

iframe{
    width: 580px;
}

.map-text{
    margin-left: 60px;
}

.map-text h4{
    margin-bottom: 30px;
}

.map-text p{
    margin-bottom: 50px;
}

@media (max-width: 767.98px){
    .tab>ul{
        margin-bottom: 40px;
    }

    .tab>ul li img{
        max-width: 350px;
        margin: 0 auto;
    }

    ul.fadein{
        opacity: 1;
    }

    .owl-theme .owl-nav.disabled+.owl-dots{
        margin-top: 20px;
    }

    .map{
        flex-direction: column;
    }

    .map-text{
        order: 1;
        margin: 20px 50px;
    }


    iframe{
        width: 90%;
        margin: 0 auto;
        height: 200px;
        order: 2;
    }
}

@media (max-width: 575.98px){
    .tabsname>h4{
        font-size: 20px;
    }

    .storename{
        margin: 50px 0 30px;
    }
    ul.fadein{
        opacity: 1;
    }

    li.item{
        max-width: 350px;
        margin: 0 auto;
    }

    .map-text{
        margin: 0px 5%;
    }

    .map-text h4{
        margin-bottom: 20px;
    }

    iframe{
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 979.98px){
    iframe{
        height: 480px;
    }
}