/* ---- Main Block ---- */
main{
    padding-top: 50px;
}

main>section{
    display: flex;
    padding: 0 80px 140px;
}

.sc-pic{
    width: 50%;
    position: relative;
    font-size: 0;
}


.sc-content{
    width: 50%;
}

.sc-content h3{
    padding: 20px 0;
}

.sc-content p{
    padding: 30px 0 50px 0;
}

.frame{
    position: absolute;
}

.fr1, .fr3{
    top: 320px;
    left: -20px;
}

.fr2{
    top: 280px;
    left: 250px;
}

.decblock{
    display: block;
    background-color: #F0EBD8;
    width: 160px;
    height: 100px;
    position: absolute;
}

.dec1, .dec3{
    top: 320px;
    left: 30px;
}

.dec2{
    top: 290px;
    left: 240px;
}

.varight{
    float: right;
}

.valeft{
    float: left;
}

main>a{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    width: 200px;
    text-align: center;
    border-bottom: 5px solid #C4A87E;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    transition: 0.5s;
    margin-bottom: 120px;
}

main a:hover{
    border-bottom: 5px solid #748CAB;
    color: #748CAB;
    cursor: pointer;
}

@media (max-width: 767.98px){
    main>section{
        flex-direction: column;
        /* align-items: center; */
        padding: 0 40px 140px;
    }

    .dec1, .dec3{
        top: 320px;
        left: 0px;
    }

    .dec2{
        top: 320px;
        left: 200px;
    }

    .fr1, .fr3{
        left: -40px;
    }

    .fr2{
        top: 310px;
        left: 200px;
    }
    

    div.sc-pic{
        width: 350px;
        align-self: center;
    }

    div.sc-pic .smodel1, .smodel3{
        margin-left: 45px;
    }

    div.sc-content{
        width: 90%;
        align-self: center;
        margin-top: 50px;
    }

    div.sc-content h3{
        text-align: center;
    }

    div.sc-content p{
        padding: 30px 0 20px 0;
    }

    .varight, .valeft{
        float: none;
    }

    div.scp1{
        order: 1;
    }

    div.scc1{
        order: 2;
    }

    div.scp3{
        order: 5;
    }

    div.scc3{
        order: 6;
    }

}

@media (max-width: 575.98px){
    main>section{
        flex-direction: column;
        padding: 50px 20px 80px;
    }

    div.sc-pic{
        max-width: 305px;
        align-self: center;
    }

    div.sc-pic .smodel{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    div.sc-content{
        width: 100%;
        align-self: center;
        margin-top: 50px;
    }

    div.sc-content h3{
        text-align: center;
    }

    div.sc-content p{
        padding: 30px 0 10px 0;
    }

    /* .frame{
        position: static;
        display: block;
        margin: 20px auto 0;
    }
    .decblock{
        width: 250px;
        height: 30px;
    } */

    /* .dec1, .dec2, .dec3{
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    } */

}

@media (min-width: 768px) and (max-width: 980px){
    main>section{
        padding: 0 0 140px;
        width: 90%;
        margin: 0 auto;
    }

    div.sc-content{
        padding: 10px;
    }

    div.sc-pic{
        padding: 10px;
    }

    div.sc-pic .smodel{
        width: 290px;
    }

    .fr1{
        top: 340px;
        left: -30px;
    }
    
    .fr2{
        top: 330px;
        left: 200px;
    }

    .fr3{
        top: 370px;
        left: -50px;
    }
    
    .dec1{
        top: 340px;
        left: 20px;
    }
    
    .dec2{
        top: 340px;
        left: 190px;
    }

    .dec3{
        top: 370px;
        left: 0px;
    }
}